@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to YTDownloader</h1>
    <form id="search-form" class="mt-5">
        <div class="input-group">
            <input type="text" class="form-control py-3" name="request" placeholder="Insert the video URL or the name">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </div>
    </form>
    <section id="search-results"> 
        
    </section>
</div>
